<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>  
    <add key="ServerName" value="S\SQLEXPRESS"/>  
    <add key="DatabaseName" value="accounting_app_database"/>
    <add key="UserName" value="waus"/>
    <add key="Password" value="ASzxQW1212"/>
  </appSettings> 
  
  <connectionStrings>
    <add name="AccountingAppEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=%ServerName%;initial catalog=%DatabaseName%;persist security info=True;user id=%UserName%;password=%Password%;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="AccountingAppEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S\SQLEXPRESS;initial catalog=accounting_app_database;persist security info=True;user id=test;password=ASzxQW1212;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConsoleWebService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/AccountingApp.WCF/ConsoleWebService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsoleWebService" contract="ConsoleWebService.IConsoleWebService" name="BasicHttpBinding_IConsoleWebService" />
    </client>
  </system.serviceModel>
</configuration>

<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConsoleWebService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/AccountingApp.WCF/ConsoleWebService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsoleWebService"
        contract="ConsoleWebService.IConsoleWebService" name="BasicHttpBinding_IConsoleWebService" />
    </client>
  </system.serviceModel>
</configuration>-->